.hero .heading {
  color: var(--color-blue);
  font-family: "Open Sans", sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
}

.hero .bio {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .hero {
    margin-top: 165px;
    margin-left: 135px;
  }

  .hero .bio {
    width: 80%;
  }
}
